.login {
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
    border: 30px solid transparent;
    font-size: 40px;
    
   
}

.container {
    display: flex;
    overflow: hidden;
    justify-content: right;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: -10px;
    background: radial-gradient(186% 291.62% at -16.28% 2%, #FFA800 0%, rgba(255, 255, 255, 0) 0.01%, #E8AB0E 0.02%, #EEAD29 10.12%, #FDB16B 19.58%, #ffffff 26.45%,#000000 37.19%, #000000 43.94%, #000000 79.17%, #000000 99.96%, #000000 99.97%, #000000 99.98%);
    
}
.solaris{
    padding: 60px;
    box-sizing: border-box;
    margin-top: -234px;
    margin-bottom: -215px;
}

.letter{
    color: #ffffff;
    margin-top: -40px;
}

.button{
    width: 100px;
    height: 50px;
    border-radius: 51px;
    margin-left: 421px;
    margin-top: 20px;
    box-shadow: 7px 4px 4px #ffffffe0, inset 5px 4px 4px rgba(0, 0, 0, 0.59);
}

.escrita{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}
label{
    padding: 20px;
    box-sizing: border-box;
    margin-top: -10px;
    margin-left: -14px;
}

input{
    width: 300px;
    padding: 10px;
    border-radius: 51px;
    box-shadow: 7px 4px 4px #ffffffbd, inset 5px 5px 6px rgba(0, 0, 0, 0.59);
}


.bem-vindo{
    display: flex;
    justify-content: center;
    align-items: center;
}